# Passo 1: Deploy da Infraestrutura
      - name: Deploy Infrastructure
        id: cloudformation
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: front-spotispec-stack  
          template: infra/template_cfn.yaml
          no-fail-on-empty-changeset: "1"

      - name: Debug Stack Outputs
        run: |
          echo "Buscando outputs da stack: front-spotispec-stack"
          aws cloudformation describe-stacks --stack-name front-spotispec-stack

      # Passo 2: Captura os Outputs
      - name: Get Stack Outputs
        run: |
        
          
          BUCKET=$(aws cloudformation describe-stacks --stack-name front-spotispec-stack --query "Stacks[0].Outputs[?OutputKey=='BucketName'].OutputValue" --output text)
          echo "BUCKET_NAME=$BUCKET" >> $GITHUB_ENV
          
          DIST=$(aws cloudformation describe-stacks --stack-name front-spotispec-stack --query "Stacks[0].Outputs[?OutputKey=='DistributionId'].OutputValue" --output text)
          echo "DIST_ID=$DIST" >> $GITHUB_ENV

      # Passo 3: Verifica se a variável foi preenchida
      - name: Verify Variables
        run: |
          echo "Bucket encontrado: ${{ env.BUCKET_NAME }}"
          if [ -z "${{ env.BUCKET_NAME }}" ]; then
            echo "ERRO: O Bucket Name está vazio!"
            exit 1
          fi

      # Passo 4: Upload dos arquivos para o S3
      - name: Deploy to S3
        run: |
          aws s3 sync ./dist s3://${{ env.BUCKET_NAME }} --delete