name: Deploy React to AWS

on:
  push:
    branches:
      - main

permissions:
  id-token: write 
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build Project
        run: npm run build
        env:
          VITE_API_URL: ${{ secrets.VITE_API_URL }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

# Passo 1: Deploy da Infraestrutura
      - name: Deploy Infrastructure
        id: cloudformation
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: front-spotispec-stack 
          template: infra/template_cfn.yaml
          no-fail-on-empty-changeset: "1"

      - name: Debug Stack Outputs
        run: |
          echo "Buscando outputs da stack: front-spotispec-stack"
          aws cloudformation describe-stacks --stack-name front-spotispec-stack

      # Passo 2: Captura os Outputs
      - name: Get Stack Outputs
        run: |
          # AQUI estava o erro: O --stack-name tem que ser igual ao do passo de Deploy
          
          BUCKET=$(aws cloudformation describe-stacks --stack-name front-spotispec-stack --query "Stacks[0].Outputs[?OutputKey=='BucketName'].OutputValue" --output text)
          echo "BUCKET_NAME=$BUCKET" >> $GITHUB_ENV
          
          DIST=$(aws cloudformation describe-stacks --stack-name front-spotispec-stack --query "Stacks[0].Outputs[?OutputKey=='DistributionId'].OutputValue" --output text)
          echo "DIST_ID=$DIST" >> $GITHUB_ENV

      # Passo 3: Verifica se a variável foi preenchida
      - name: Verify Variables
        run: |
          echo "Bucket encontrado: ${{ env.BUCKET_NAME }}"
          if [ -z "${{ env.BUCKET_NAME }}" ]; then
            echo "ERRO: O Bucket Name está vazio!"
            exit 1
          fi

      # Passo 4: Upload dos arquivos para o S3
      - name: Deploy to S3
        run: |
          aws s3 sync ./dist s3://${{ env.BUCKET_NAME }} --delete